@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}





#heading {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: xx-large;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#maze {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#canvas {
    background: #3AA9C7;
    display: block;
    margin: 0 auto;
}

#c {
    background: #8A3274;
    display: block;
    margin: 0 auto;
}

#timerel {
    background: #8A3274;
    display: block;
    margin: 0 auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background-color: #3AA9C7;
    margin: auto;
    padding: 20px;
    border: 1px solid #500707;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #3AA9C7;
    color: white;
    text-align: center;
    height: 60%;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #8A3274;
    color: #ffbaba;
    text-align: center;
    height: 60%;
}

#maze {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
}

#c, #timerel {
    margin: 10px 0;
}
