/* MemoryGame.module.css */


.main {
  display: flex;
  flex-direction: column;
  background-color: #6ba9b5;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

body {
  display: block !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;

}

.grid {
  display: grid; 
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: transform 600ms ease-in-out;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 5px solid #00b5cc;
  border-radius: 5px;
}

.front {
  transform: rotateY(180deg);
}

.card::hover{
  transform: rotateY(180deg);
}

.back {
  background-image: url('../../assets/img-autismo/robert-bosch.jpg');
  height: 100%;
  width: 100%;
}

.revealCard {
  transform: rotateY(-180deg);
  transition: transform 600ms ease-in-out;
}

.disabledCard {
  filter: saturate(0);
  opacity: 0.5;
}

button{
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 30px;
}

@media screen and (max-width: 920px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
