
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
h1 {
	padding-top: 90px;
	margin-top: 15px;
	color: #8a3274;
}

.title_subtitle {
	font-size: 45px;
	text-align: center;
	padding-top: 65px;
}
.title_subtitle > h2 {
	color: #8a3274;
}

.title_subtitle > h3 {
	color: #536595;
}

.container_tda {
	flex-direction: row;
	display: flex;
	width: 50%;
	justify-content: center; 
  }
  

  .button_jogar2 {
	padding: 20px;
	width: 80px;
	background-color: #47b0cd;
	border-radius: 20%;
	margin-top: 20px;
	color: azure;
	transition: .2s ease-in-out;
	display: flex;
	justify-content: center; 
	align-items: center; 
	margin-left: 80px;
  }
.button_jogar2:hover {
	color: #8a3274;
	transition: .2s ease-in-out;

}

.button_jogar2 p {
	text-align: center;
} 

.iconGame img{
	width: 200px;
	margin-top: 95px;
}


.iconGame {
	display: flex;
	flex-direction: column; 
	align-items: center;
	justify-content: center;
  }
  
/*Slide 1*/

.quadrado {
	background-color: rgb(255, 255, 255);
	width: 905px;
	height: 104px;
	padding: 4px;
	box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, 0.2);
	margin-right: 250px;
	margin-bottom: 45px;
}

.quadrado > p {
	font-size: 25px;
	font-weight: 500;
	color: black;
}

.quadrado2 {
	background-color: rgb(255, 255, 255);
	width: 900px;
	height: 150px;
    padding: 5px;
	box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, 0.2);
	margin-right: 250px;
	margin-bottom: 45px;
}

.quadrado2 > p {
	font-size: 25px;
	font-weight: 500;
	color: black;
}

.baloes{
	margin: 35px 35px 35px 35px;
}

.img_slide15 img {
	width: 98%;
	position: relative;
}

.img_slide16 img {
	width: 98%;
	position: relative;
}

.quadrado14 {
	background-color: rgb(255, 255, 255);
	padding: 5px;
	width: 900px;
	height: 150px;
	box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, 0.2);
	margin-right: 250px;
	margin-bottom: 45px;
}

.quadrado14 > p {
	font-size: 25px;
	font-weight: 500;
	color: black;
}

.quadrado17 {
	background-color: rgb(255, 255, 255);
	width: 900px;
	height: 190px;
    padding: 7px;
	box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, 0.2);
	margin-right: 250px;
	margin-bottom: 45px;
}

.quadrado17 > p {
	font-size: 25px;
	font-weight: 500;
	color: black;
}

@keyframes flutuar {
	0% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-50px);
	}
	100% {
	  transform: translateY(0);
	}
  }
  
  .floating {
	animation: flutuar 3s ease-in-out infinite;
  }

.diferenca {
	margin-top: 15px;
	color: #8a3274;
    text-align: center;
}