
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #47b0cd;
    width: 2px;
}

header {
    background-color: #e3f2fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    position: fixed; 
    top: 0;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #47B0CD;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    z-index: 1000; 
}

.header_left {
    display: flex;
}

.header_left img {
    object-fit: contain;
    height: 52px;
    margin-right: 10px;
}

.header_right {
    display: flex;
    margin-top: 15px;
}

.header_search {
    padding: 10px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 25px;
    color: gray;
    background-color: rgba(255, 255, 255, 0.21);
}

.header_search > input {
    outline: none;
    border: none;
    background: none;
}

.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}

.headerOption:hover {
    color: rgb(140, 209, 227);
}

.headerOption h3 {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
}

.headerOption_icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
