body {
  font-family: 'Arial', sans-serif;
  /* text-align: center; */
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

#quiz-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #8a3274; 
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #701c60;
}

#options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  flex-wrap: wrap;
  /* justify-content: center; */
  margin-top: 20px;
}

.option {
  margin: 10px;
}

.option img {
  width: 10px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.option img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

#timer-container {
  font-size: 18px;
  margin-top: 10px;
}

#timer {
  font-size: 24px;
  font-weight: bold;
  color: #ff4500;
}

.correct {
  border: 4px solid #00ff00; 
  transition: border-color 0.20s;
}

.wrong {
  border: 4px solid #ff5733;
  transition: border-color 0.5s;
}

#end-screen {
  padding: 20px;
}

/* h1, h2 {
  color: #333; 
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #666;
} */

@media (max-width: 600px) {
  #quiz-container {
    padding: 10px;
  }

  .option img {
    max-width: 20%; 
  }

  h1, h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px; 
  }

  button {
    padding: 8px 16px; 
    font-size: 14px;
  }
}